{% extends 'core/base.html' %}
{% load static %}

{% block content %}

  <h1>Schlangenprogrammiernacht 35C3</h1>
  <p>
    Welcome to the 'Schlangenprogrammiernacht' for 35C3. A game developed by bytewerk.
  </p>

  <p>
    Everybody is invited to join! Simply create an account and start coding.
  </p>

  <p>
    Define your own snake in Lua, eat as much as you can and try not to die.
  </p>

  <p>Start with your own server and get the code <a href="https://git.bingo-ev.de/GPN18Programmierspiel">here</a>.</p>
 
{% endblock %}